
body {
  color: #333;
  font-family: Verdana, Helvetica, Sans-Serif;
  font-size: .75em;
  width: 100%;
}

h1 {
  border-bottom: 1px dashed #cdcdcd;
  margin: 25px 0px 30px 0px;
}

h3 {
  margin: 25px 0px 30px 0px;
}

p {
  padding: 5px 0px 5px 0px;
}

button {
  margin: 0px 0px 0px 0px;
  padding: 10px;
  border: 2px solid rgb(91, 18, 209);
  background-color: #f1f1f1;
}

.tab {
  overflow: hidden;
  border: 1px solid rgb(91, 18, 209);
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: rgb(221, 221, 221);
}

.buttonactive {
  background-color: lightgrey;
}

.buttoninactive {
  background-color: white;
}

.tab-menu li {
  list-style: none;   
  display: inline;    
}


.tab-menu {float:left;
  list-style-type: none;
}

detailContent {
  padding-top: 15px;
  padding-bottom: 5px;
}

.highlightIDVals {
  color: gold;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 10;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 10px 10px;
  background-color: white;
  display: block;
  overflow: hidden;
}

.nopanel {
  display: none;
}

.accordion:after {
  /* content: '\02795'; Unicode character for "plus" sign (+) */ 
  content: '^';
  font-size: 20px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}